body{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100cw;
    flex-direction: column;
}
#game-board{
    display:flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}

.playableSpot{
    border:solid;
    height: 33%;
    width:33%;
    flex:0 1 30%;

}
button {
    margin-top: 0.7rem;
}